#footer{
    .card-header{
        background-color: $color01;
        color:$color02;
    }
    .card-footer{
        background-color:$color01;
    }
    .text-muted{
        font-style: italic;
    }
}