#navbar {
  .navbar{
  margin-bottom: 3.5%;
  background-color: $color01;}

    .link{
      padding-left: 2%;
      padding-right: 2%;
    }
    background-color: $color01;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
  }