#navbar {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Avenir, Helvetica, Arial, sans-serif;  
    a {
      font-weight: bold;
      color: $color05;
      &.router-link-exact-active {
        color: $color02;
      }
    }
    .link{
      padding-left: 2%;
      padding-right: 2%;
    }
    background-color: $color01;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
  }