#navbar {
  background-color: #033540;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%; }
  #navbar .navbar, #navbar .nanbar-expand {
    background-color: #033540; }
  #navbar .link {
    padding-left: 2%;
    padding-right: 2%; }

#footer .card-header {
  background-color: #033540;
  color: #A2F229; }

#footer .card-footer {
  background-color: #033540; }

#footer .text-muted {
  font-style: italic; }

#cover {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1.5%; }

.btn-primary {
  font-style: italic; }

#about {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #033540;
  padding-left: 10%;
  padding-right: 10%; }

#contact {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #033540; }

#home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #033540; }

#info {
  display: flex;
  justify-content: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #033540;
  padding-left: 10%;
  padding-right: 10%; }

#rules {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #033540;
  padding: 7%;
  text-align: justify; }
  #rules h1, #rules h2, #rules h3 {
    text-align: center; }