#rules{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:$color01;
    padding: 7%;
    text-align: justify;
    h1,h2,h3{
      text-align: center;
    }
    display: flex;
    flex-flow: column;
  }